{% extends "merch_base.html" %}
{% block content %}

{% if request.user.is_authenticated %}
    <h2>{{ user }}'s Cart</h2>
    <a href="{% url 'merchstore:product_list' %}"class="button">Return to Product List</a>
    
    {% for owner, transactions in buyer_cart.items %}
        <h2>{{ owner }}'s Products </h2>
        {% for transaction in transactions %}
            <ul>
                <h3><li>{{ transaction.product }}</li></h3>
                <ul>
                    <li><p><strong>Amount Purchased: </strong>{{ transaction.amount }}</p></li>
                    <li><p><strong>Status: </strong>{{ transaction.status }}</p></li>
                </ul>
            </ul>
        {% endfor %}
    {% endfor %}
{% endif %}

{% endblock %}