{% extends "merch_base.html" %}
{% block content %}

<h2>{{ product.name }}</h2>
<p><strong>Owner:</strong> {{ product.owner }}</p>

<p><strong>Product Type:</strong> {{ product.productType }}</p>
<p><strong>Price: </strong>Php {{ product.price }}</p>
<p><strong>Stock: </strong> {{ product.stock }}</p>
<p><strong>Status: </strong> {{ product.status }}</p>
<p><strong>Description: </strong>{{ product.description }}</p>

{% if request.user.is_authenticated and product.owner == request.user.profile %}
    <h2><a href="{% url 'merchstore:product_update' pk=product.pk %}">Edit Product</a></h2>
{% else %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if product.stock == 0 %}
            <button type="submit" disabled>Buy Product</button>
        {% else %}
            <button type="submit">Buy Product</button>
        {% endif %}
{% endif %}
<h3><a href="{% url 'merchstore:product_list' %}">Return to Product List</a></h3>
{% endblock %}