{% extends "merch_base.html" %}
{% block content %}

    {% if request.user.is_authenticated %}
        <h2><a href="{% url 'merchstore:product_create' %}">Add a Product</a></h2>
        <h2><a href="{% url 'merchstore:product_cart' %}">View Cart</a></h2>
        <h2><a href="{% url 'merchstore:transaction_list' %}">View Transaction List</a></h2>

        <h2>{{ user }}'s Products</h2>
        <ul> 
            {% for userProduct in user_products %}
                <h3><li><a href="{{ userProduct.get_absolute_url}}">{{ userProduct }}</a></li></h3>
            {% endfor %}
        </ul>


        <h2>All Products</h2>
        <ul>
            {% for product in exclude_user_products %}
                <h3><li><a href="{{ product.get_absolute_url}}">{{ product }}</a></li></h3>
            {% endfor %}
        </ul>

       
    
    {% else %}
        {% for product in all_products %}
            <h3><li><a href="{{ product.get_absolute_url}}">{{ product }}</a></li></h3>
        {% endfor %}
    {% endif %}

{% endblock %}

