{% extends "wiki_base.html" %}
{% block content %}

<head>
    <title>{{ title }}</title>
    {% if image %}
    <img src="{{ image.url }}" alt="boo" style="width: 100px;">
    {% endif %}
</head>

<body>
    <h2>{{ title }}</h2>
    <p><strong>Author:</strong> <i>{{ author }}</i></p>
    <p><strong>Category:</strong> <i>{{ category }}</i></p>
    <p><strong>Created On:</strong> {{ created_on }}</p>
    <p><strong>Updated On:</strong> {{ updated_on }}</p>

    <p>{{ entry }}</p>

    <p><br><strong>Read more from category:</strong> <i>{{ category }}</i> </p>

    <ul>
        {% for other_article in other_articles %}
        <p>
            <li>
                <a href="{% url 'wiki:article' pk=other_article.pk %}""> {{ other_article.title }}</a>
            </li>
        </p>
        {% endfor %}
    </ul>

</body>
{% endblock %}